<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TianJiCloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C4411A71F21981E00C453EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C4411C31F21981E00C453EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C4411CE1F21981E00C453EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
