@media only screen and (max-width: 320px){
	html{
		font-size: 35px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 329px) {
	html{
		font-size: 42.7px;
	}
}
@media only screen and (min-width: 330px) and (max-width: 344px) {
	html{
		font-size: 44px;
	}
}
@media only screen and (min-width: 345px) and (max-width: 359px) {
	html{
		font-size: 46px;
	}
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
	html{
		font-size: 48px;
	}
}
@media only screen and (min-width: 375px) and (max-width: 389px) {
	html{
		font-size: 50px;
	}
}
@media only screen and (min-width: 390px) and (max-width: 404px) {
	html{
		font-size: 52px;
	}
}
@media only screen and (min-width: 405px) and (max-width: 419px) {
	html{
		font-size: 54px;
	}
}
@media only screen and (min-width: 420px) and (max-width: 449px) {
	html{
		font-size: 56px;
	}
}
@media only screen and (min-width: 450px) and (max-width: 479px) {
	html{
		font-size: 60px;
	}
}
@media only screen and (min-width: 480px) and (max-width: 524px) {
	html{
		font-size: 64px;
	}
}
@media only screen and (min-width: 525px) and (max-width: 584px) {
	html{
		font-size: 70px;
	}
}
@media only screen and (min-width: 585px) and (max-width: 659px) {
	html{
		font-size: 78px;
	}
}
@media only screen and (min-width: 660px) and (max-width: 749px) {
	html{
		font-size: 88px;
	}
}
@media only screen and (min-width: 750px) {
	.container{
		width: 750px;
		margin: 0 auto;
	}
	html{
		font-size: 100px;
	}
	
}
html,body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,textarea,dd,dl,dt,b{
	padding: 0;
	margin: 0;
	font-weight: 100;
}
body{
    margin-top: -21px;
	font-size: 16px;
	background: #f4f6fa;
	font-family: 'PingFang-SC-Regular';
}
ul,ol,li{
	list-style: none;
}
a,a:hover,a:active{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
a{
	color: #191c44;
}
input,button,textarea{
	outline: none;
	border: 0;
	color: #6e5c50;
	padding-left: 0.1rem;
}
input::-webkit-input-placeholder{
	color: #6e5c50;
}
input::-ms-input-placeholder{
	color: #6e5c50;
}
input::-moz-placeholder{
	color: #6e5c50;
}
.font-20{
	font-size: 0.20rem;
}
.font-24{
	font-size: 0.24rem;
}
.font-26{
	font-size: 0.26rem;
}
.font-28{
	font-size: 0.28rem;
}
.font-30{
	font-size: 0.30rem;
}
.font-32{
	font-size: 0.32rem;
}
.font-36{
	font-size: 0.36rem;
}
.font-40{
	font-size: 0.40rem;
}
.font-46{
	font-size: 0.46rem;
}
.font-48{
	font-size: 0.48rem;
	line-height: 0.48rem;
}
.font-64{
	font-size: 0.64rem;
}
.pingfang-medium{
	font-family: 'PingFang-SC-Medium';
}
.color-d2d4d9{
	color: #d2d4d9;
}
.color-dda22e{
	color: #dda22e;
}
.color-adafb3{
	color: #adafb3;
}
.color-dadce0{
	color: #dadce0;
}
.color-6e5c50{
	color: #6e5c50;
}
.color-deb056{
	color: #deb056;
}
.color-7e6854{
	color: #7e6854;
}
.color-fff{
	color: #fff;
}
.color-4a4b4d{
	color: #4a4b4d;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align:right !important;
}
.flex-row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex-row-between{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-row-around{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex-row-right{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: right;
}
.flex-row{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.flex-column{
	display: -webkit-box;
 	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
.bg-white{
	background: #fff;
}
.bg-dda22e{
	background: #dda22e;
}
.border-right{
	position: relative;top: 0;left: 0;
}
.border-right:after{
	content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background: #e6e8ed;
    right: 0;top: 0;
    transform: scale(0.5,1);
}
.border-bottom{
	border-bottom:  1px solid #e6e8ed;
	position: relative;top: 0;left: 0;
}
.border-around{
	border-radius: 2px;
	padding: 0.06rem 0.07rem 0.06rem 0.09rem;
	position: relative;top: 0;left: 0;
	z-index: 0;
}
.border-around:before{
	content:'';width:200%;
	height:200%;position:absolute;
	top:-50%;left:-50%;z-index:-10;
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
	-webkit-transform-origin:聽0聽0;
	transform-origin:0聽0;
	box-sizing:border-box;
	border-radius: 4px;
    border: 1px solid #191c44;
}
.bottom-line{
	width: 100%;
	height: 1px;
	background: #e6e8ed;
	transform: scale(1, 0.5);
	margin: 0!important;
}
.h2-pad{
	padding: 0.4rem 0 0.16rem;
}
.num-pad{
	padding: 0.4rem 0 0.6rem;
}
.margin-4{
	margin: 2px 2px 0;
}

/*姝ｅ湪杩愯*/
.running{
	width: 0.64rem;
	position: absolute;
	right: 0;top: 0;
	margin: 0 !important;
	color: #fff;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.34rem;
}
.running-word{
	display: block;
	background: #dda22e;
}
.running span:last-child{
	display: block;
	height: 0.12rem;
	background: url(bg_bottom.png) no-repeat;
	background-size: 100% 100%;
}
/*灞曞紑&鏀惰捣*/
.open-button,.open-team-button,.open-button1{
	padding: 0.17rem 0.3rem;
	line-height: 0.26rem;
	font-size: 0.26rem;
	color: #7a7a7a;
	margin: 0.26rem auto 0;
	display: inline-block;
	border-radius: 0.3rem;
	border: 1px solid #9d9d9d;
}
.open-button img,.open-button1 img{
	width: 0.22rem;
	height: 0.15rem;
	margin-left: 0.08rem;
}
.open-team-button img{
	width: 0.22rem;
	height: 0.15rem;
	margin-left: 0.08rem;
}
.open-button span,.open-button1 span{
	display: inline !important;
	line-height: 0.26rem !important;
}
.open-team-button span{
	display: inline !important;
	line-height: 0.26rem !important;
}
.open-content,.open-team,.open-content1{
	overflow: hidden;
}
/*dda22e娲诲姩鏍峰紡*/
.li-active{
	color: #dda22e;
	border-bottom: 2px solid #dda22e;
}
/*鎻愪氦鎸夐挳*/
.btn{
	width: 6.7rem;
	height: 0.9rem;
	display: block;
	color: #fff;
	margin: 0.4rem auto 0;
	background: #dda22e;
	border-radius: 0.45rem;
	border: 0;
	font-size: 0.32rem;
}
/*缃戠粶閿欒 school*/
.network{
	width: 100%;
	padding-top: 3.8rem;
	height: 3.6rem;
	background: url(college2.png) no-repeat center 4.52rem;
	background-size: 2rem 2.3rem;
}
.network p{
	font-size: 0.32rem;
}

/*hide*/
.hide{
	display:none !important;
}
/* 娴姩 */
.float-left{
	float: left;
}
.float-right{
	float: right;
}
/* 娓呴櫎娴姩 */
.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	width: 0;
}

/*娉ㄥ唽鎴愬姛,淇敼鎴愬姛*/
.succeed-register{
	width: 2.8rem;
	height: 2.8rem;
	position: fixed;
	top: 4rem;
	left: 0;right: 0;
	margin: auto;
	background: rgba(45,51,129,0.9);
	text-align: center;
	border-radius: 0.2rem;
	color: #dda22e;
	display: none;
}
.succeed-register img{
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0.5rem auto 0.15rem;
}

/* 鍒嗕韩 */
.home{
	margin-left: 0.1rem;
}



/*header澶撮儴*/
header{
	width: 100%;
	height: 0.88rem;
	line-height: 0.88rem;
	min-width: 320px;
	max-width: 750px;
	position: fixed;
	top: 0;left: 0;right: 0;
	background: #fff;
	z-index: 10;
	margin: auto;
	border-bottom: 1px solid #e6e8ed;
}
header span{
	display: block;
	width: 20%;
	height: 0.5rem; 
	padding-top: 0.16rem;
	padding-left:0.2rem;
	box-sizing: border-box;
}
header span a,header span img{
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
}
header p{
	width: 60%;
	text-align: center;
	line-height: 0.88rem;
}
.search-img{
	box-sizing: border-box;
	width: 20%;
	text-align: right;
	height: 0.48rem;
	line-height: 0.48rem;
	padding: 0.2rem 0.3rem 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position:relative;
	top: 0;left: 0;
}
.search-img a,.search-img a img{
	display: block;
	width:  0.48rem;
}
.search-img a{
	float: right;
}
.search-img .Acollect{
	position: absolute;
	top: 0.2rem;right: 0.3rem;
} 
#toPK{
	position: absolute;
	top: 0.2rem;right: 0.98rem;
}
.search-img .add{
    position: absolute;
    top: 0.2rem;
    right: 0.88rem;
}
.search-img .edit{
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
}


.content{
	padding: 0 0.28rem;
	background: #fff;
}
/*琛ㄦ牸*/
.content span{
	height: 0.6rem;
	line-height: 0.6rem;
}
.content p span{
	width: 29%;
	text-align: center;
}
.content p span:nth-child(1){
	width: 23%;
	text-align: left;
}
.content p span:nth-child(4){
	width: 19%;
}
.content ul li{
	display: flex;
	flex-direction: row;
	border-top: 1px solid #e1e1e1;
}
.content ul li span{
	width: 29%;
	text-align: center;
}
.content ul li span:nth-child(1){
	text-align: left;
	width: 23%;
}
.content ul li span:nth-child(4){
	text-align: left;
	width: 19%;
}
