//
//  ReleaseTestConfig.xcconfig
//  TianJiCloud
//
//  Created by 朱鹏 on 2018/1/5.
//  Copyright © 2018年 TianJiMoney. All rights reserved.
//

#include "CommonConfig.xcconfig"
#include "Pods/Target Support Files/Pods-TianJiCloud/Pods-TianJiCloud.releasetest.xcconfig"


APP_DISPLAY_NAME = 天富云Beta
CONFIG_FLAG = RELEASE_TEST


//网络请求baseurl
REQUESTBASE_URL = @"http:\\/\\/10.20.100.1"
